*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Dosis', sans-serif;
	overflow-x: hidden;
}
html {
	font-size: 16px;
	scroll-behavior: smooth;
}
//Style dla powtarzających się elementów na stronie
.section-title {
	position: relative;
	text-align: center;
	font-size: 3rem;
	color: #003274;
	margin: 5% 10%;
	text-align: center;
	font-family: 'Goldman', sans-serif;
	h2 {
		padding: 5% 0;
	}
}
.services-nav-btn {
	padding: 10px 20px;
	background: none;
	border: 2px solid #ee2027;
	border-radius: 0;
	color: #003274;
	font-size: 1.2rem;
	text-transform: uppercase;
	overflow: visible;
	cursor: pointer;
	transition: background 0.5s, color 0.5s;
}
.services-nav-btn:hover {
	background-color: #ee2027;
	color: #fff;
}
.gallery-btn {
	padding: 10px 20px;
	background: none;
	border: 2px solid #003274;
	border-radius: 0;
	color: #ee2027;
	font-size: 1.2rem;
	text-transform: uppercase;
	overflow: visible;
	cursor: pointer;
	transition: background 0.5s, color 0.5s;
}
.gallery-btn:hover {
	background-color: #003274;
	color: #fff;
}

.footer-up-right-sections-list {
	list-style: none;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-left: 10%;
	li {
		a {
			color: #fff;
			text-decoration: none;
		}
	}
}
.footer-up-right-section-header {
	font-size: 3rem;
	font-weight: bold;
}
.footer-up-right-link {
	text-decoration: none;
	color: #fff;
}
.scroll-up-btn {
	position: fixed;
	top: 80%;
	right: 2%;
	padding: 20px;
	border: none;
	background: none;
	cursor: pointer;
	z-index: 999;
	display: none;
	.fa-arrow-up {
		font-size: 4rem;
		color: #ee2027;
	}
}

@keyframes move-screwdriver {
	0% {
		transform: translateX(0%) rotate(45deg);
	}

	50% {
		transform: translateX(50%) rotate(45deg);
	}
	100% {
		transform: translateX(00%) rotate(45deg);
	}
}

@keyframes move-wrench {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes move-hammer {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(40deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes services-animation {
	from {
		opacity: 0;
		transform: scale(0.8) translateY(-40px);
	}
	to {
		opacity: 1;
		transform: scale(1) translate(0);
	}
}
@keyframes bounce-top {
	0% {
		transform: translateY(-45px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 1;
	}
	24% {
		opacity: 1;
	}
	40% {
		transform: translateY(-24px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	65% {
		transform: translateY(-12px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	25%,
	55%,
	75%,
	87% {
		transform: translateY(0px);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100% {
		transform: translateY(0px);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
	}
}

@keyframes show-list-of-services {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}
@keyframes rotate-logo {
	0% {
		transform: rotateZ(-15deg);
	}
	50% {
		transform: rotateZ(15deg);
	}
	100% {
		transform: rotateZ(-15deg);
	}
}

//Nagłówek strony
header {
	position: relative;
	height: 88vh;
	width: 100%;
	background-color: #b9b2b2;

	.header-bg {
		position: relative;
		width: 100%;
		height: 100%;

		.header-img {
			position: relative;
			width: 100%;
			height: 100%;
			background-color: #948f8f;
			align-items: center;
			overflow: hidden;
			z-index: 1;
			video {
				position: absolute;
				top: 70%;
				left: 50%;
				transform: translate(-50%, -50%);
				height: 150%;
				width: 150%;
				object-fit: cover;
			}
		}
		.header-shadow {
			position: absolute;
			top: 0%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #003274;
			opacity: 0.7;
			z-index: 2;
		}
	}
	.header-text {
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 70%;
		height: 50%;
		text-align: center;
		z-index: 3;

		p {
			font-size: 1.5rem;
			color: #fff;
			font-family: 'Goldman', sans-serif;
			.header-text-master,
			.header-text-tech {
				font-size: 2.5rem;
				text-transform: uppercase;
			}
			.header-text-master {
				color: #ee2027;
			}
			.header-text-tech {
				color: #2282ff;
			}
		}

		.header-btn {
			margin-top: 15%;
			position: relative;
			padding: 10px 20px;
			background: none;
			border: 1px solid #fff;
			border-radius: 0;
			color: #ffffff;
			font-size: 1rem;
			text-transform: uppercase;
			overflow: visible;
			cursor: pointer;
			transition: 0.8s;
		}
		.header-btn::after,
		.header-btn::before {
			display: block;
			position: absolute;
			content: '';
			transition: all 0.5s;
			z-index: 10;
			width: 100%;
			height: 100%;
		}

		.header-btn::before {
			top: 0;
			left: 0;
		}

		.header-btn::after {
			bottom: 0;
			right: 0;
		}

		.header-btn:hover::after {
			bottom: -10px;
			right: -10px;
			border-bottom: 5px solid #0061e0;
			border-right: 5px solid #0061e0;
		}

		.header-btn:hover::before {
			top: -10px;
			left: -10px;
			border-top: 5px solid #ee2027;
			border-left: 5px solid #ee2027;
		}

		.header-btn:hover {
			border: 1px solid transparent;
		}
	}
}
//Nawigacja
nav {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	font-size: 2rem;
	height: 12vh;
	width: 100%;
	background-color: #ffffff;
	border-bottom: 3px solid #003274;
	z-index: 10;
	font-family: 'Goldman', sans-serif;

	.nav-brand {
		display: flex;
		position: relative;
		justify-content: center;
		height: 100%;
		width: 30%;
		font-size: 3rem;
		align-items: center;

		.logo-img {
			position: relative;
			object-fit: contain;
			width: 100%;
			height: 100%;
		}
	}
	.nav-options {
		display: flex;
		justify-content: space-evenly;
		position: relative;
		height: 100%;
		width: 70%;
		.nav-option {
			display: flex;
			position: relative;
			height: 100%;
			width: 100%;
			align-items: center;
			text-decoration: none;
			border: 1px solid transparent;
			border-radius: 20%;
			cursor: pointer;
			a {
				height: 100%;
				width: 100%;
				text-align: center;
				text-decoration: none;
				p {
					position: relative;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					color: #003274;
					transition: color 0.3s;
				}
			}
		}

		.nav-option:hover {
			a {
				p {
					color: #0061e0;
				}
			}
		}
		.services {
			display: flex;
			flex-direction: column;

			.list-of-services {
				position: absolute;
				top: 100%;
				display: block;
				list-style-type: none;

				.item-of-services {
					display: none;
					opacity: 0;
					position: relative;
					height: 100%;
					width: 100%;
					text-decoration: none;
					color: #fff;
					background-color: #ee2027;
					transition: 1s color;
					li {
						font-size: 1rem;
						border-bottom: 1px solid #000;
						padding: 5% 10%;
					}
				}
				.item-of-services:hover {
					color: #003274;
				}
			}
		}
		.services:hover {
			.list-of-services {
				.item-of-services {
					display: block;
					animation: services-animation 0.5s forwards;
				}
			}
		}
		.services:hover {
			.list-of-services {
				.item-of-services:nth-child(2) {
					animation-delay: 0.2s;
				}
			}
		}
		.services:hover {
			.list-of-services {
				.item-of-services:nth-child(3) {
					animation-delay: 0.4s;
				}
			}
		}
		.services:hover {
			.list-of-services {
				.item-of-services:nth-child(4) {
					animation-delay: 0.6s;
				}
			}
		}
		.services:hover {
			.list-of-services {
				.item-of-services:nth-child(5) {
					animation-delay: 0.8s;
				}
			}
		}
		.services:hover {
			.list-of-services {
				.item-of-services:nth-child(6) {
					animation-delay: 1s;
				}
			}
		}
	}
	.burger-btn {
		display: none;
		padding: 16px;
		position: absolute;
		right: 5%;
		border: 1px solid transparent;
		cursor: pointer;
		background-color: transparent;

		.burger-btn-box {
			position: relative;
			width: 40px;
			height: 40px;
			.burger-btn-bars,
			.burger-btn-bars::after,
			.burger-btn-bars::before {
				position: absolute;
				right: 0;
				height: 3px;
				content: '';
				background-color: #ee2027;
				transition: width 0.3s;
			}
			.burger-btn-bars {
				top: 27px;
				width: 100%;
			}
			.burger-btn-bars::after {
				top: -14px;
				width: 60%;
			}
			.burger-btn-bars::before {
				top: -27px;
				width: 30%;
				transition-delay: 0.1s;
			}
		}
	}
	.burger-btn:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}
	.burger-btn:hover {
		.burger-btn-bars::after,
		.burger-btn-bars::before {
			width: 100%;
		}
	}
	.nav-options-onburger {
		display: flex;
		position: fixed;
		top: 0;
		left: 100%;
		width: 30%;
		height: 100vh;
		height: 100vh;
		padding: 100px 0px;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		transition: 0.5s;
		z-index: 1;
		border-left: 3px solid #000;
		.nav-option-on-burger-shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: #fff;
		}

		.close-btn {
			position: absolute;
			top: 50px;
			left: 50px;
			padding: 5px;
			border: none;
			background: none;
			cursor: pointer;
			color: #ee2027;

			.fa-xmark {
				font-size: 36px;
				transition: font-size 0.3s, transform 1s;
			}
		}
		.close-btn:hover {
			.fa-xmark {
				font-size: 44px;
				transform: rotateZ(360deg);
			}
		}
		.nav-option-onburger {
			text-transform: uppercase;
			text-decoration: none;
			color: #003274;
			font-size: 2.4rem;
			transition: color 0.3s;
			z-index: 100;
		}
		.nav-option-onburger:hover {
			color: #0061e0;
		}
		.offer-option-burger {
			position: relative;
			width: 100%;
			text-align: center;
			.show-list-of-services-btn {
				position: absolute;
				height: 100%;
				width: 20%;
				left: 0;
				border: none;
				border-right: 3px solid #000;
				background-color: transparent;
				cursor: pointer;
				.fa-arrow-left {
					font-size: 2rem;
				}
				.arrow-rotate {
					transform: rotateZ(180deg);
				}
			}
			.list-of-services {
				display: block;
				position: absolute;
				width: 100%;
				left: 0%;
				font-size: 1rem;
				list-style-type: none;
				background-color: #ee2027;
				z-index: -1;
				transition: transform 1s;
				border-right: 3px solid #000;

				.item-of-services {
					position: relative;
					height: 100%;
					width: 100%;
					text-decoration: none;
					color: #fff;
					transition: 1s color;
					li {
						font-size: 1rem;
						border-bottom: 1px solid #000;
						padding: 5% 10%;
					}
				}
				.item-of-services:hover {
					color: #003274;
				}
			}
			.list-of-services-show {
				transform: translateX(-100%);
			}
		}
	}
	.nav-options-onburger-show {
		left: 70%;
	}
}

//Główna treść strony
main {
	//ABOUT_US
	.section-about-us {
		position: relative;
		height: 100%;
		width: 100%;
	}
	.section-about-us-up {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		.section-about-us-up-text {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			position: relative;
			width: 40%;
			height: 100%;
			font-size: 1.3rem;
		}
		.section-about-us-up-photo {
			position: relative;
			width: 500px;
			height: 400px;
			.section-about-us-up-photo-img {
				position: relative;
				object-fit: contain;
				width: 100%;
				height: 100%;
				transform: rotateZ(-15deg);
				animation: rotate-logo 3s infinite;
			}
		}
	}
	.section-about-us-middle {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		margin: 10% auto;
		.section-about-us-middle-header {
			position: relative;
			font-size: 2.5rem;
			margin-left: 10%;
			color: #003274;
			max-width: 80%;
		}
		.end {
			width: 75%;
			text-align: right;
			color: #003274;
		}
		.about-us-middle-arrow-up {
			margin-left: 53%;
			font-size: 2.5rem;
			animation: bounce-top 2s infinite both;
			color: #c00006;
		}

		.section-about-us-middle-characters {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			width: 100%;
			text-align: center;
			margin: 5% auto;
			.section-about-us-middle-character {
				margin: 5% auto;
				i {
					font-size: 2.5rem;
				}
				p {
					font-size: 1.5rem;
				}
			}
			.section-about-us-middle-character:nth-child(odd) {
				i {
					color: #003274;
				}
				p {
					color: #c00006;
				}
			}
			.section-about-us-middle-character:nth-child(even) {
				i {
					color: #c00006;
				}
				p {
					color: #003274;
				}
			}
		}
		.about-us-middle-arrow-down {
			margin-left: 50%;
			font-size: 2.5rem;
			animation: bounce-top 1.8s infinite both;
			color: #c00006;
		}
	}
	.section-about-us-down {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 500px;
		margin: 10% auto;
		font-size: 4rem;
		color: #0061e0;
		max-width: 80%;
		span {
			font-size: 6rem;
		}
		.finished-projects {
			span {
				color: var(--numberOfProjectsColor);
			}
		}
		.happy-clients {
			span {
				color: var(--happyClientsColor);
			}
		}
		.years-of-experience {
			span {
				color: var(--yearsOfExperienceColor);
			}
		}
	}

	//SERVICES
	.services-main-section {
		width: 100%;
		overflow: hidden;
		.services-header {
			position: relative;
			width: 100%;
			height: 40vh;
			background-color: #b9b2b2;
			display: flex;
			overflow: hidden;
			h1 {
				position: absolute;
				padding-left: 7%;
				padding-top: 7%;
				z-index: 3;
				color: #fff;
			}
			.services-header-left-imgs {
				display: flex;
				position: relative;
				width: 40%;
				height: 100%;
				.services-header-left-img-one {
					position: relative;
					width: 50%;
					height: 100%;
				}
				.services-header-left-imgs-two-three {
					position: relative;
					width: 50%;
					height: 100%;
					display: block;
					.services-header-left-img-two {
						position: relative;
						width: 100%;
						height: 50%;
					}
					.services-header-left-img-three {
						position: relative;
						width: 100%;
						height: 50%;
					}
				}
			}
			.services-header-right-imgs {
				position: relative;
				display: flex;
				width: 60%;
				height: 100%;
				.services-header-right-img-four {
					position: relative;
					width: 50%;
					height: 100%;
				}
				.services-header-right-imgs-five-six-seven {
					position: relative;
					width: 50%;
					height: 100%;
					display: block;
					.services-header-right-img-five {
						position: relative;
						width: 100%;
						height: 50%;
						overflow: hidden;
					}
					.services-header-right-imgs-six-seven {
						position: relative;
						width: 100%;
						height: 50%;
						display: flex;
						.services-header-right-img-six {
							position: relative;
							width: 50%;
							height: 100%;
						}
						.services-header-right-img-seven {
							position: relative;
							width: 50%;
							height: 100%;
						}
					}
				}
			}
			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
			.services-header-shadow {
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: #003274;
				opacity: 0.8;
				z-index: 2;
			}
		}
		.services-nav {
			position: relative;
			width: 100%;
			height: 48vh;
			text-align: center;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			margin-bottom: 10%;

			.services-nav-item {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				margin-top: 10%;
				text-decoration: none;
				cursor: pointer;
				i {
					position: absolute;
					margin-bottom: 5%;
					color: #003274;
					margin-bottom: 10%;
					font-size: 1.8rem;
				}
				p {
					position: absolute;
					color: #003274;
					transition: color 0.2s, fontweight 0.2s;
					font-size: 1.6rem;
					transition: font-size 0.2s, color 0.2s;
				}
			}
			.services-nav-item:hover {
				p {
					color: #ee2027;
					font-weight: bold;
					font-size: 1.8rem;
				}
			}
		}
		.tarpaulin-for-trucs {
			position: relative;
			display: flex;
			flex-direction: column;
			margin-bottom: 20%;
			.tarpaulin-for-trucs-down {
				position: relative;
				display: flex;
				flex-direction: row;
				.tarpaulin-for-trucs-left {
					width: 30%;
					position: relative;
					.truck-left-img {
						width: 100%;
						position: relative;
						margin-top: 20%;
						transform: rotate(90deg);
					}
				}
				.tarpaulin-for-trucs-middle {
					position: relative;
					width: 40%;
					text-align: center;
					font-size: 1.5rem;
					p {
						height: 70%;
					}
				}
				.tarpaulin-for-trucs-right {
					display: block;
					width: 30%;
					position: relative;
					.truck-right-img {
						position: relative;
						object-fit: contain;
						width: 100%;
						height: 100%;
						margin-top: 20%;
						transform: rotate(-90deg);
					}
				}
			}
			.tarpaulin-for-trucs-middle-btns {
				position: relative;
				width: 50%;
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;
				margin: 0 auto;
				margin-top: 5%;
			}
		}
		.tarpaulin-for-trailers {
			position: relative;
			width: 100%;
			margin-bottom: 10%;
			background-color: #01224e;
			.section-title {
				h2 {
					color: #fff;
					padding-bottom: 0%;
				}
			}
			.tarpaulin-for-trailers-middle {
				position: relative;
				height: 80%;
				width: 100%;
				padding: 10% 0% 25%;
				background-image: url('../img/trailer-big.png');
				background-size: 100%;
				background-position: 20%;
				background-repeat: no-repeat;
				text-align: center;
				p {
					position: relative;
					font-size: 1.5rem;
					margin: 0 10%;
				}
				.tarpaulin-for-trailers-middle-btns {
					position: relative;
					width: 100%;
					margin: 5% 2% 0%;
					display: flex;
					flex-direction: row;
					justify-content: space-around;
					align-items: center;
				}
			}
		}
		.tarpaulin-for-bowers {
			position: relative;
			width: 100%;
			.tarpaulin-for-bowers-middle {
				position: relative;
				display: flex;
				width: 100%;
				height: 100%;
				padding: 0 5%;
				background-image: url('../img/bower_color.png');
				background-size: 115%;
				background-position: 50% 0%;
				background-repeat: no-repeat;
				align-items: center;
				justify-content: space-between;

				.tarpaulin-for-bowers-text {
					position: relative;
					width: 35%;
					margin-top: 45%;
					margin-left: 5%;
					margin-bottom: 30%;
					font-size: 1.5rem;
					text-align: left;
					span {
						font-weight: bold;
					}
				}
				.services-nav-btn {
					position: relative;
				}
				.gallery-btn {
					position: relative;
				}
			}
		}
		.tarpaulin-repair {
			position: relative;
			.tarpaulin-repair-middle {
				display: flex;
				position: relative;
				width: 100%;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				.fa-wrench {
					position: absolute;
					top: -20%;
					left: -15%;
					font-size: 25rem;
					transform-origin: 80% 20%;
					animation: move-wrench 4s infinite;
					color: #ee20273b;
				}

				.fa-hammer {
					position: absolute;
					top: 10%;
					left: 75%;
					font-size: 30rem;
					animation: move-hammer 4s infinite;
					color: #ee20273b;
				}

				.fa-screwdriver {
					position: absolute;
					top: 60%;
					font-size: 40rem;
					transform: rotate(45deg);
					animation: move-screwdriver 3s infinite;
					color: #0032743b;
				}

				.tarpaulin-repair-text {
					position: relative; //zmieniono na potrzebe edycji poprzedniej sekcji
					width: 30%;
					height: 100%;
					font-size: 1.5rem;
					text-align: center;
				}
				.tarpaulin-repair-middle-btns {
					position: relative;
					display: flex;
					justify-content: space-between;
					margin: 10% 0%;
					width: 40%;
				}

				.fa-solid {
					z-index: -1;
				}
			}
		}
		.tarpaulin-for-tents {
			position: relative;
			background-color: #01224e;
			.section-title {
				color: #fff;
			}
			.tent-hall-header {
				position: relative;
				padding-top: 35%;
				padding-bottom: 20%;
				width: 100%;
				align-items: center;
				text-align: center;
				background-image: url('../img/tent-hall_second.png');
				background-size: 120%;
				background-repeat: no-repeat;
				.tent-hall-text {
					position: relative;
					margin-left: 22%;
					width: 40%;
					color: #fff;
					font-size: 1.4rem;
				}
				.tent-hall-middle-btns {
					position: relative;
					margin: 0 30%;
					margin-top: 20%;
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					.services-nav-btn {
						position: relative;
						color: #006eff;
						border-color: #fff;
					}
					.gallery-btn {
						position: relative;
						color: #ee2027;
						border-color: #fff;
					}
					.services-nav-btn:hover {
						color: #fff;
					}
					.gallery-btn:hover {
						background-color: #006eff;
						color: #fff;
					}
				}
			}
		}
		.tarpaulin-individual-orders {
			position: relative;
			margin-top: 20%;
			margin-bottom: 30%;
			.individual-orders-header {
				position: relative;
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: center;

				.checklist-big-red {
					position: absolute;
					width: 15%;
					left: 5%;
				}

				.individual-orders-middle {
					position: relative;
					width: 40%;
					margin-top: 5%;
					.individual-orders-middle-text {
						position: relative;
						width: 100%;
						font-size: 1.4rem;
						text-align: center;
					}
				}
				.to-do-big-blue {
					position: absolute;
					width: 20%;
					top: 10%;
					left: 80%;
				}
			}
			.tarpaulin-for-indivisual-orders-middle-btns {
				position: relative;
				margin: 0 auto;
				margin-top: 10%;
				width: 80%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-around;
			}
		}
	}

	//GALLERY
	.gallery-section {
		position: relative;
		width: 100%;
		overflow: hidden;
		.gallery-nav {
			position: relative;
			height: 88vh;
			width: 80%;
			margin: auto;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			.gallery-nav-item {
				position: relative;
				width: 80%;
				height: 80%;
				margin: auto;
				background-color: #5e5e5e;
				overflow: hidden;
				img {
					position: absolute;
					width: 100%;
					height: 100%;
					object-fit: cover;
					transition: height 0.5s;
					z-index: 1;
				}
				.gallery-nav-item-shadow {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: #640609;
					z-index: 2;
					opacity: 0.7;
				}
				.gallery-nav-item-text {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 90%;
					transform: translate(-50%, -50%);
					text-align: center;
					color: #fff;
					font-size: 1.5rem;
					z-index: 3;
					color: #f0f0f0;
					font-family: 'Goldman', sans-serif;
				}
			}

			.gallery-nav-item:hover {
				img {
					height: 130%;
				}
			}
		}
		.gallery-item-section {
			position: relative;
			margin: 10% auto;
			.section-title {
				font-size: 2.5rem;
				h2 {
					padding: 10% 0;
					padding-top: 15%;
				}
			}
			.gallery-item-slick {
				margin: 0 auto;
				position: relative;
				width: 70%;
				.slider-for {
					height: 800px;
					.slick-list {
						position: relative;
						height: 100%;
						.slick-track {
							position: relative;
							height: 100%;
							overflow: hidden;
							img {
								object-fit: cover;
							}
						}
					}
				}
				.slider-nav {
					margin-top: 10%;
					height: 200px;
					cursor: pointer;
					.slick-prev {
						left: -50px;
					}
					.slick-next {
						right: -40px;
					}
					.slick-prev::before,
					.slick-next::before {
						font-size: 2.5rem;
					}
					.slick-prev::before {
						color: #ee2027;
					}
					.slick-next::before {
						color: #0061e0;
					}
					.slick-list {
						position: relative;
						height: 100%;
						.slick-track {
							position: relative;
							height: 100%;
							img {
								object-fit: cover;
								border: 5px solid #003274;
							}
						}
					}
					.slick-dots {
						display: none !important;
					}
				}
			}
			img {
				position: relative;
				height: 100%;
			}
		}
		.gallery-individual-section {
			margin-bottom: 30%;
		}
	}
	//CONTACT
	.contact {
		position: relative;
		background-color: #ffffff;
		padding-bottom: 10%;
		z-index: 1;
		width: 100%;
		overflow: hidden;
		.contact-form {
			position: relative;
			display: flex;
			text-align: center;
			flex-direction: column;
			width: 100%;
			height: 88vh;
			min-height: 650px;
			padding: 5%;
			margin-bottom: 10%;
			background-color: #001633;
			color: #ffffff;
			font-size: 2rem;
			overflow: hidden;

			h3 {
				position: relative;
				height: 100%;
				font-size: 3.5rem;
				margin-bottom: 5%;
				text-align: left;
				color: #ffffff;
				font-family: 'Goldman', sans-serif;
			}

			.form-up {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				.input-box {
					text-align: left;
					margin: 2% 5%;
					input {
						padding: 5px;
						font-size: 1.5rem;
						background-color: #ffffff;
					}
					.error-text {
						visibility: hidden;
						font-size: 1rem;
						color: red;
					}
				}
				.input-box.error {
					input {
						border: 1px solid rgb(0, 137, 250);
						background-color: #bbb1b1;
					}
					.error-text {
						visibility: visible;
					}
				}
			}
			.form-down {
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 100%;
				label {
					width: 80%;
					text-align: left;
				}
				textarea {
					position: relative;
					width: 80%;
					height: 30vh;
					max-height: 30vh;
					min-height: 30vh;
					max-width: 80%;
					min-width: 80%;
					margin-bottom: 1%;
					padding: 5px;
					font-size: 1.5rem;
					background-color: #ffffff;
				}
				.error-text {
					visibility: hidden;
					font-size: 1rem;
					color: red;
				}
				.send-btn {
					position: relative;
					padding: 10px 20px;
					background: none;
					margin-top: 1%;
					border: 1px solid #fff;
					border-radius: 0;
					color: #ffffff;
					font-size: 1.5rem;
					text-transform: uppercase;
					overflow: visible;
					cursor: pointer;
					transition: 0.8s;
				}
				.send-btn::after,
				.send-btn::before {
					display: block;
					position: absolute;
					content: '';
					transition: all 0.5s;
					z-index: 10;
					width: 100%;
					height: 100%;
				}

				.send-btn::before {
					top: 0;
					left: 0;
				}

				.send-btn::after {
					bottom: 0;
					right: 0;
				}

				.send-btn:hover::after {
					bottom: -10px;
					right: -10px;
					border-bottom: 5px solid #0061e0;
					border-right: 5px solid #0061e0;
				}

				.send-btn:hover::before {
					top: -10px;
					left: -10px;
					border-top: 5px solid #ee2027;
					border-left: 5px solid #ee2027;
				}

				.send-btn:hover {
					border: 1px solid transparent;
				}
			}
			.form-down.error {
				textarea {
					border: 1px solid rgb(0, 137, 250);
					background-color: #bbb1b1;
				}
				.error-text {
					visibility: visible;
				}
			}
			.msg-status {
				display: none;
				position: absolute;
				top: 35%;
				left: 50%;
				transform: translateX(-50%);
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 100px;
				width: 400px;
				font-size: 24px;
				border-radius: 8px;
				background-color: transparent;
			}
			.msg-succes {
				display: flex;
				color: rgb(18, 228, 18);
			}
			.msg-error {
				display: flex;
				color: rgb(235, 32, 32);
			}
		}

		.contact-details-map {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			margin: 10% auto;

			.contact-details {
				position: relative;
				padding: 3% 2%;
				border: 15px solid#ee2027;
				color: #003274;
				transform: skewX(-30deg);
				h4 {
					position: relative;
					width: 100%;
					text-align: center;
					font-size: 2rem;
					transform: skewX(30deg);
				}
				.contact-detail {
					margin: 40px;
					font-size: 1.2rem;
					transform: skewX(30deg);
					span {
						font-weight: bold;
						color: #003274;
					}
					color: #003274;
				}
			}
			.contact-map {
				iframe {
					width: 500px;
					height: 450px;
				}
			}
		}
	}

	//STOPKA
	footer {
		position: relative;
		width: 100%;
		height: 500px;
		display: flex;
		flex-direction: column;
		background-color: #74070a;
		// margin-top: 30%;

		.footer-up {
			position: relative;
			height: 80%;
			width: 100%;
			display: flex;
			flex-direction: row;
			.footer-up-left {
				position: relative;
				width: 40%;
				height: 100%;
				display: flex;
				flex-direction: column;

				.footer-up-left-logo {
					position: relative;
					width: 100%;
					height: 70%;
					img {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 70%;
					}
				}
				.footer-up-left-media {
					position: relative;
					width: 100%;
					height: 30%;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-around;
					color: #fff;
					font-size: 1.5rem;
					.fa-brands {
						font-size: 3rem;
						cursor: pointer;
						transition: color 0.5s;
					}
					.fa-brands:hover {
						color: #0061e0;
					}
				}
			}
			.footer-up-right {
				position: relative;
				width: 60%;
				height: 100%;
				display: flex;
				flex-direction: row;
				.footer-up-right-section {
					position: relative;
					width: 25%;
					height: 100%;
				}
				.footer-up-right-about-us {
					position: relative;
					padding: 3% 2%;
				}
				.footer-up-right-contact {
					position: relative;
					padding: 2% 2%;
				}
			}
		}
		.footer-down {
			position: relative;
			height: 20%;
			border-top: 1px solid #fff;
			.footer-down-text {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 1.5rem;
				color: #fff;
			}
		}
	}
}
@media (max-width: 1400px) {
	header {
		.header-text {
			p {
				font-size: 1.2rem;
			}
		}
	}
	main {
		.section-title {
			font-size: 2rem;
		}
		.services-main-section {
			.services-nav {
				.services-nav-item {
					p {
						font-size: 1.2rem;
					}
					i {
						margin-bottom: 15%;
					}
				}
				.services-nav-item:hover {
					p {
						font-size: 1.4rem;
					}
				}
			}

			.tarpaulin-for-bowers {
				.tarpaulin-for-bowers-middle {
					background-size: 124%;
					padding: 0%;
					.tarpaulin-for-bowers-text {
						margin-top: 41%;
					}
				}
			}
			.tarpaulin-for-tents {
				.tent-hall-header {
					background-size: 140%;
					background-position: top 0% left 25%;
					padding-top: 38%;
					.tent-hall-text {
						margin-left: 19%;
					}
				}
			}
		}

		.gallery-section {
			.gallery-nav {
				.gallery-nav-item {
					.gallery-nav-item-text {
						font-size: 1.3rem;
					}
				}
			}
		}
		.contact {
			.contact-form {
				font-size: 1.8rem;
				h3 {
					font-size: 3rem;
				}
				.form-up {
					.input-box {
						input {
							font-size: 1.3rem;
						}
					}
				}
				.form-down {
					textarea {
						font-size: 1.3rem;
					}
					.send-btn {
						font-size: 1.3rem;
					}
				}
			}
			.contact-details-map {
				.contact-map {
					iframe {
						width: 430px;
						height: 430px;
					}
				}
			}
		}
	}
}
@media (max-width: 1200px) {
	html {
		font-size: 10px;
	}
	header {
		.header-text {
			width: 90%;
			p {
				font-size: 2rem;
			}
			.header-btn {
				border-top: 3px solid #ee2027;
				border-left: 3px solid #ee2027;
				border-bottom: 3px solid #0061e0;
				border-right: 3px solid #0061e0;
				font-size: 1.5rem;
			}
		}
	}
	main {
		.section-about-us-up {
			display: flex;
			flex-direction: column;
			.section-about-us-up-text {
				font-size: 2rem;
				margin-bottom: 5%;
			}
		}
		.section-about-us-middle {
			.section-about-us-middle-header {
				font-size: 3rem;
			}

			.section-about-us-middle-characters {
				grid-template-columns: repeat(2, 1fr);
				.section-about-us-middle-character {
					margin: 20%;
					i {
						font-size: 4rem;
					}
					p {
						font-size: 3rem;
					}
				}
			}
		}
		.services-main-section {
			.services-header {
				h1 {
					font-size: 3rem;
					padding-top: 10%;
				}
			}
			.services-nav {
				grid-template-columns: repeat(2, 1fr);
				.services-nav-item {
					p {
						font-size: 2.2rem;
						color: #ee2027;
						font-weight: bold;
					}
					i {
						font-size: 2.7rem;
						margin-bottom: 10%;
					}
				}
				.services-nav-item:hover {
					p {
						font-size: 2.2rem;
					}
				}
			}
			.tarpaulin-for-trucs {
				.tarpaulin-for-trucs-down {
					.tarpaulin-for-trucs-middle {
						font-size: 2.2rem;
					}
				}
			}
			.tarpaulin-for-trailers {
				.tarpaulin-for-trailers-middle {
					background-size: 116%;
					background-position: 65%;
					padding: 10% 0% 30%;
					p {
						font-size: 2.2rem;
					}
					.tarpaulin-for-trailers-middle-btns {
						margin: 5% 0% 0%;
					}
				}
			}
			.tarpaulin-for-bowers {
				.tarpaulin-for-bowers-middle {
					padding: 0 1%;
					padding-left: 2%;
					.tarpaulin-for-bowers-text {
						margin-top: 50%;
					}
				}
			}
			.tarpaulin-for-tents {
				.tent-hall-header {
					background-size: 120%;
					background-position: top 0% left 20%;
					padding-top: 35%;
					.tent-hall-text {
						margin-left: 19%;
					}
					.tent-hall-middle-btns {
						margin-top: 30%;
						.services-nav-btn {
							position: relative;
							border-color: #fff;
							background-color: #ee2027;
							color: #fff;
						}
						.gallery-btn {
							position: relative;
							border-color: #fff;
							background-color: #006eff;
							color: #fff;
						}
					}
				}
			}
		}
		.gallery-section {
			.gallery-nav {
				.gallery-nav-item {
					width: 90%;
					height: 80%;
					.gallery-nav-item-text {
						font-size: 1.7rem;
					}
				}
			}
			.gallery-item-section {
				.gallery-item-slick {
					.slider-for {
						height: 650px;
					}
					.slick-nav {
						.slick-prev::before,
						.slick-next::before {
							font-size: 3rem;
						}
					}
				}
			}
			footer {
				height: 350px;
			}
		}
		.services-nav-btn {
			background-color: #ee2027;
			color: #fff;
		}
		.gallery-btn {
			background-color: #003274;
			color: #fff;
		}
		.contact {
			.contact-form {
				font-size: 2.5rem;
				h3 {
					font-size: 3.5rem;
				}
				.form-up {
					.input-box {
						margin: 2% 10%;
						input {
							font-size: 2rem;
						}
						.error-text {
							font-size: 1.5rem;
						}
					}
				}
				.form-down {
					textarea {
						height: 35vh;
						max-height: 35vh;
						min-height: 35vh;
						font-size: 2rem;
					}
					.send-btn {
						font-size: 2rem;
						border-top: 3px solid #ee2027;
						border-left: 3px solid #ee2027;
						border-bottom: 3px solid #0061e0;
						border-right: 3px solid #0061e0;
					}
					.error-text {
						font-size: 1.5rem;
					}
				}
			}
			.contact-details-map {
				flex-direction: column;
				.contact-details {
					margin-bottom: 10%;
					h4 {
						font-size: 3rem;
					}
					.contact-detail {
						font-size: 2.2rem;
					}
				}
				.contact-map {
					iframe {
						width: 600px;
						height: 450px;
					}
				}
			}
		}
		footer {
			height: 350px;
		}
	}
}
@media (max-width: 900px) {
	nav {
		position: relative;
		z-index: 100;

		.nav-options {
			display: none;
		}
		.burger-btn {
			display: flex;
		}
		.nav-brand {
			width: 60%;
		}
	}
	main {
		.section-about-us-up {
			.section-about-us-up-text {
				width: 60%;
			}
		}
		.section-about-us-middle {
			margin: 30% auto;
			.about-us-middle-arrow-up {
				margin-left: 75%;
			}
			.about-us-middle-arrow-down {
				margin-left: 30%;
			}
		}
		.section-about-us-down {
			margin: 30% auto;
		}

		.services-main-section {
			.services-header {
				h1 {
					font-size: 2.5rem;
					padding-top: 15%;
				}
			}
			.services-nav {
				.services-nav-item {
					p {
						font-size: 1.7rem;
					}
					i {
						margin-bottom: 15%;
					}
				}
				.services-nav-item:hover {
					p {
						font-size: 1.7rem;
					}
				}
			}
			.tarpaulin-for-trucs {
				.tarpaulin-for-trucs-down {
					.tarpaulin-for-trucs-middle {
						font-size: 1.8rem;
					}
				}
				.tarpaulin-for-trucs-middle-btns {
					height: 100px;
					margin-top: 10%;
					flex-direction: column;
					justify-content: space-between;
				}
			}
			.tarpaulin-for-trailers {
				.tarpaulin-for-trailers-middle {
					padding: 15% 0% 40%;
					p {
						font-size: 1.8rem;
					}
				}
			}
			.tarpaulin-for-bowers {
				.tarpaulin-for-bowers-middle {
					background-size: 150%;
					margin-bottom: 20%;
					.gallery-btn {
						position: absolute;
						top: 80%;
						left: 52%;
					}
					.services-nav-btn {
						position: absolute;
						top: 80%;
						left: 28%;
						width: auto;
					}
					.tarpaulin-for-bowers-text {
						margin-top: 53%;
					}
				}
			}
			.tarpaulin-repair {
				.tarpaulin-repair-middle {
					.tarpaulin-repair-text {
						width: 50%;
					}
					.fa-wrench {
						font-size: 20rem;
					}
					.fa-hammer {
						font-size: 20rem;
						top: 10%;
					}
					.fa-screwdriver {
						font-size: 30rem;
						top: 60%;
					}

					.tarpaulin-repair-middle-btns {
						height: 100px;
						flex-direction: column;
						justify-content: space-between;
						align-items: center;
					}
				}
			}
			.tarpaulin-for-tents {
				.tent-hall-header {
					background-size: 130%;
					.tent-hall-middle-btns {
						margin: 0 20%;
						margin-top: 20%;
					}
				}
			}
			.tarpaulin-individual-orders {
				.individual-orders-header {
					.individual-orders-middle {
						width: 50%;
					}
				}
			}
		}

		.gallery-section {
			.gallery-nav {
				grid-template-columns: 1fr 1fr;
				margin-top: 5%;
				.gallery-nav-item {
					.gallery-nav-item-text {
						font-size: 1.5rem;
					}
				}
			}
			.gallery-item-section {
				.section-title {
					h2 {
						padding: 10% 0;
						padding-top: 15%;
					}
				}
				.gallery-item-slick {
					.slider-for {
						height: 450px;
						margin-top: 10%;
					}
					.slider-nav {
						margin-top: 20%;
					}
				}
			}
		}
		.contact {
			.contact-form {
				.form-up {
					flex-direction: column;
					justify-content: center;
					align-items: start;
				}
				.form-down {
					textarea {
						height: 40vh;
						max-height: 40vh;
						min-height: 40vh;
					}
				}
			}
		}
		footer {
			height: 310px;
		}
	}
}
@media (max-width: 768px) {
	main {
		.section-about-us-middle {
			.section-about-us-middle-characters {
				.section-about-us-middle-character {
					margin: 20%;
					i {
						font-size: 3rem;
					}
					p {
						font-size: 2rem;
					}
				}
			}
		}
		.section-about-us-down {
			align-items: start;
		}
		.services-main-section {
			.services-header {
				h1 {
					font-size: 2.2rem;
					// padding-top: 15%;
				}
			}
			.services-nav {
				.services-nav-item {
					i {
						font-size: 2rem;
					}
				}
			}
			.tarpaulin-for-trucs {
				.tarpaulin-for-trucs-down {
					.tarpaulin-for-trucs-left {
						margin-top: 5%;
						width: 50%;
					}
					.tarpaulin-for-trucs-middle {
						font-size: 1.5rem;
					}
					.tarpaulin-for-trucs-right {
						display: none;
					}
				}
				.tarpaulin-for-trucs-middle-btns {
					margin-top: 20%;
					width: 70%;
					flex-direction: row;
					justify-content: space-between;
				}
			}
			.tarpaulin-for-trailers {
				.tarpaulin-for-trailers-middle {
					background-size: 150%;
					background-position: 65%;
					p {
						font-size: 1.5rem;
					}
					padding: 30% 0% 60%;
					.tarpaulin-for-trailers-middle-btns {
						margin: 10% 0% 0%;
					}
				}
			}
			.tarpaulin-for-bowers {
				.tarpaulin-for-bowers-middle {
					background-size: 210%;
					padding-bottom: 30%;
					.tarpaulin-for-bowers-text {
						margin-top: 80%;
						width: 50%;
					}
					.gallery-btn {
						top: 73%;
						left: 55%;
					}
					.services-nav-btn {
						top: 73%;
						left: 22%;
					}
				}
			}
			.tarpaulin-repair {
				.tarpaulin-repair-middle {
					.fa-wrench {
						top: -50%;
					}
				}
			}
			.tarpaulin-for-tents {
				.tent-hall-header {
					background-size: 160%;
					padding-top: 43%;
					.tent-hall-text {
						margin-left: 14%;
						width: 55%;
					}
				}
			}
		}
		.gallery-section {
			.gallery-item-section {
				.gallery-item-slick {
					.slider-for {
						height: 400px;
						margin-top: 20%;
					}
					.slider-nav {
						height: 150px;
						margin-top: 25%;
					}
				}
			}
		}
		.contact {
			.contact-form {
				h3 {
					margin-bottom: 10%;
				}
			}
			.contact-details-map {
				.contact-details {
					h4 {
						font-size: 2.5rem;
					}
					.contact-detail {
						font-size: 1.7rem;
					}
				}
				.contact-map {
					iframe {
						width: 500px;
						height: 350px;
					}
				}
			}
		}
		footer {
			height: 50px;
			.footer-up {
				display: none;
			}
			.footer-down {
				height: 100%;
			}
		}
	}
}
@media (max-width: 600px) {
	nav {
		.nav-options-onburger {
			width: 50%;
		}
		.nav-options-onburger-show {
			left: 50%;
		}
	}
	main {
		.section-about-us-up {
			.section-about-us-up-text {
				font-size: 1.5rem;
			}
			.section-about-us-up-photo {
				width: 300px;
				height: 300px;
			}
		}
		.section-about-us-middle {
			.about-us-middle-arrow-up {
				margin-top: 10%;
			}
			.about-us-middle-arrow-down {
				margin-top: 10%;
			}
		}
		.section-about-us-down {
			font-size: 3rem;
		}
		.services-main-section {
			.services-header {
				h1 {
					// font-size: 2.2rem;
					width: 80%;
					padding-top: 20%;
				}
				.services-header-left-imgs {
					width: 60%;
				}
				.services-header-right-imgs {
					width: 40%;
					.services-header-right-img-four {
						width: 100%;
					}
					.services-header-right-imgs-five-six-seven {
						display: none;
					}
				}
			}
			.services-nav {
				.services-nav-item {
					p {
						width: 90%;
					}
				}
				.tarp-trucs {
					i {
						margin-bottom: 20%;
					}
				}
			}
			.tarpaulin-for-trucs {
				.tarpaulin-for-trucs-down {
					flex-direction: column;
					.tarpaulin-for-trucs-left {
						width: 60%;
						margin: 0 auto;
						.truck-left-img {
							margin-top: 0;
							margin-bottom: 20%;
							transform: rotate(0deg);
						}
					}
					.tarpaulin-for-trucs-middle {
						width: 80%;
						margin: 0 auto;
					}
					.tarpaulin-for-trucs-right {
						display: flex;
						width: 60%;
						margin: 0 auto;
						.truck-right-img {
							margin-top: 40%;
							transform: rotate(180deg);
						}
					}
				}
				.tarpaulin-for-trucs-middle-btns {
					position: absolute;
					top: 65%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
			.tarpaulin-for-trailers {
				.tarpaulin-for-trailers-middle {
					background-size: 180%;
					background-position: 65%;
				}
			}
			.tarpaulin-for-bowers {
				.tarpaulin-for-bowers-middle {
					background-size: 240%;
					padding: 0%;
					padding-bottom: 30%;
					.tarpaulin-for-bowers-text {
						margin-top: 90%;
						width: 80%;
					}
					.gallery-btn {
						top: 80%;
						left: 35%;
					}
					.services-nav-btn {
						top: 75%;
						left: 35%;
					}
				}
			}
			.tarpaulin-repair {
				.tarpaulin-repair-middle {
					.fa-wrench {
						top: -20%;
						left: -25%;
						font-size: 17rem;
					}
					.fa-hammer {
						font-size: 15rem;
					}
					.fa-screwdriver {
						font-size: 25rem;
					}
				}
			}
			.tarpaulin-for-tents {
				.tent-hall-header {
					background-size: 200%;
					background-position: top 0% left 19%;
					padding-top: 53%;
					.tent-hall-text {
						margin-left: 16%;
						width: 70%;
					}
					.tent-hall-middle-btns {
						flex-direction: column;
						height: 100px;
						margin-top: 40%;
					}
				}
			}
			.tarpaulin-individual-orders {
				.individual-orders-header {
					justify-content: end;
					.to-do-big-blue {
						display: none;
					}
					.individual-orders-middle {
						width: 60%;
						margin-right: 10%;
					}
					.checklist-big-red {
						width: 25%;
					}
				}
				.tarpaulin-for-indivisual-orders-middle-btns {
					margin-top: 30%;
				}
			}
		}

		.gallery-section {
			.gallery-nav {
				margin-top: 1%;
				.gallery-nav-item {
					height: 90%;
					.gallery-nav-item-text {
						font-size: 1.3rem;
					}
				}
			}
			.gallery-item-section {
				margin: 30% auto;
				.section-title {
					font-size: 1.5rem;
				}
				.gallery-item-slick {
					width: 80%;
					.slider-for {
						height: 350px;
					}
					.slider-nav {
						height: 100px;
						margin-top: 30%;
						.slick-prev {
							left: -35px;
						}
						.slick-next {
							right: -35px;
						}
					}
				}
			}
		}

		.section-title {
			font-size: 1.5rem;
		}
		.contact {
			.contact-details-map {
				.contact-details {
					padding: 2% 1%;
					h4 {
						font-size: 2.2rem;
						transform: skewX(30deg);
					}
					.contact-detail {
						font-size: 1.4rem;
					}
				}
				.contact-map {
					iframe {
						width: 420px;
						height: 350px;
					}
				}
			}
		}
	}
}
@media (max-width: 480px) {
	header {
		.header-text {
			p {
				text-align: left;
			}
		}
	}
	nav {
		justify-content: start;
		padding-left: 15%;
		.nav-options-onburger {
			width: 50%;
		}
		.nav-options-onburger-show {
			left: 50%;
		}
	}
	main {
		.section-about-us-up {
			.section-about-us-up-text {
				width: 80%;
			}
		}
		.section-title {
			font-size: 1.2rem;
		}

		.services-main-section {
			.services-header {
				h1 {
					width: 80%;
					padding-top: 25%;
				}
				.services-header-left-imgs {
					width: 100%;
				}
				.services-header-right-imgs {
					display: none;
				}
			}
			.services-nav {
				.services-nav-item {
					i {
						margin-bottom: 25%;
					}
					p {
						font-size: 1.2rem;
					}
				}
				.tarp-trucs {
					i {
						margin-bottom: 30%;
					}
				}
				.services-nav-item:hover {
					p {
						font-size: 1.2rem;
					}
				}
			}

			.tarpaulin-for-trucs {
				.tarpaulin-for-trucs-middle-btns {
					width: 80%;
					top: 68%;
				}
				.tarpaulin-for-trucs-down {
					.tarpaulin-for-trucs-right {
						.truck-right-img {
							margin-top: 70%;
						}
					}
				}
			}
			.tarpaulin-for-trailers {
				.tarpaulin-for-trailers-middle {
					background-size: 290%;
					background-position: 60%;
					padding: 25% 0% 80%;
				}
			}
			.tarpaulin-for-bowers {
				.tarpaulin-for-bowers-middle {
					background-size: 310%;
					padding-bottom: 45%;
					.tarpaulin-for-bowers-text {
						margin-top: 105%;
					}
					.gallery-btn {
						top: 75%;
						left: 53%;
					}
					.services-nav-btn {
						left: 14%;
						top: 75%;
					}
				}
			}
			.tarpaulin-repair {
				.tarpaulin-repair-middle {
					margin-bottom: 20%;
					.fa-wrench {
						top: -30%;
					}
					.fa-hammer {
						left: 85%;
					}
					.tarpaulin-repair-text {
						width: 70%;
					}
				}
			}
			.tarpaulin-for-tents {
				.tent-hall-header {
					background-size: 280%;
					background-position: top 0% left 27%;
					padding-top: 75%;
					.tent-hall-text {
						margin-left: 5%;
						width: 90%;
					}
					.tent-hall-middle-btns {
						flex-direction: column;
						height: 100px;
						margin-top: 50%;
					}
				}
			}
			.tarpaulin-individual-orders {
				.individual-orders-header {
					.individual-orders-middle {
						width: 60%;
						margin-right: 5%;
					}
					.checklist-big-red {
						height: 100%;
						width: auto;
						left: -12%;
					}
				}
				.tarpaulin-for-indivisual-orders-middle-btns {
					margin-top: 30%;
				}
			}
		}

		.gallery-section {
			.gallery-nav {
				height: 88vh;
				width: 95%;
				grid-template-columns: 1fr 1fr;
				margin-top: 1%;
				.gallery-nav-item {
					width: 95%;
					height: 95%;
					.gallery-nav-item-text {
						font-size: 1.4rem;
					}
				}
			}
			.gallery-item-section {
				.section-title {
					h2 {
						padding: 10% 0;
						padding-top: 25%;
					}
				}
				.gallery-item-slick {
					width: 85%;
					.slider-for {
						height: 400px;
					}
					.slider-nav {
						margin-top: 20%;
						.slick-prev {
							left: -30px;
						}
						.slick-next {
							right: -25px;
						}
					}
				}
			}
		}
		.services-nav-btn {
			padding: 8px 15px;
			font-size: 1rem;
		}
		.gallery-btn {
			padding: 8px 15px;
			font-size: 1rem;
		}
		.contact {
			.contact-form {
				font-size: 1.8rem;
				h3 {
					font-size: 3rem;
				}
				.form-up {
					.input-box {
						input {
							font-size: 1.3rem;
						}
					}
				}
				.form-down {
					textarea {
						font-size: 1.3rem;
						height: 35vh;
						max-height: 35vh;
						min-height: 35vh;
					}
					.send-btn {
						font-size: 1.3rem;
					}
				}
			}
			.contact-details-map {
				.contact-details {
					padding: 2% 1%;
					transform: skewX(-20deg);
					h4 {
						font-size: 2.2rem;
						transform: skewX(20deg);
					}
					.contact-detail {
						font-size: 1.4rem;
						transform: skewX(20deg);
					}
				}
				.contact-map {
					iframe {
						width: 330px;
						height: 330px;
					}
				}
			}
		}
	}
}
