*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Dosis', sans-serif;
	// font-family: 'Goldman', sans-serif;
	overflow-x: hidden;
}
html {
	font-size: 16px;
	// height: 3000px;
	scroll-behavior: smooth;
}
//Style dla powtarzających się elementów na stronie
.section-title {
	position: relative;
	text-align: center;
	font-size: 3rem;
	color: #003274;
	font-family: 'Goldman', sans-serif;
	h2 {
		padding: 5% 0;
	}
}
.services-nav-btn {
	padding: 10px 20px;
	background: none;
	border: 2px solid #ee2027;
	border-radius: 0;
	color: #003274;
	font-size: 1.2rem;
	text-transform: uppercase;
	overflow: visible;
	cursor: pointer;
	transition: background 0.5s, color 0.5s;
}
.services-nav-btn:hover {
	background-color: #ee2027;
	color: #fff;
}
.gallery-btn {
	padding: 10px 20px;
	background: none;
	border: 2px solid #003274;
	border-radius: 0;
	color: #ee2027;
	font-size: 1.2rem;
	text-transform: uppercase;
	overflow: visible;
	cursor: pointer;
	transition: background 0.5s, color 0.5s;
}
.gallery-btn:hover {
	background-color: #003274;
	color: #fff;
}

.footer-up-right-sections-list {
	list-style: none;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-left: 10%;
	li {
		a {
			color: #fff;
			text-decoration: none;
		}
	}
}
.footer-up-right-section-header {
	font-size: 3rem;
	font-weight: bold;
}
.footer-up-right-link {
	text-decoration: none;
	color: #fff;
}
.scroll-up-btn {
	position: fixed;
	top: 80%;
	right: 2%;
	padding: 20px;
	border: none;
	background: none;
	cursor: pointer;
	z-index: 100;
	display: none;
	.fa-arrow-up {
		font-size: 4rem;
		color: #ee2027;
	}
}

@keyframes move-screwdriver {
	0% {
		transform: translateX(0%) rotate(45deg);
	}

	50% {
		transform: translateX(50%) rotate(45deg);
	}
	100% {
		transform: translateX(00%) rotate(45deg);
	}
}

@keyframes move-wrench {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes move-hammer {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(40deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

@keyframes services-animation {
	from {
		opacity: 0;
		transform: scale(0.8) translateY(-40px);
	}
	to {
		opacity: 1;
		transform: scale(1) translate(0);
	}
}
@keyframes bounce-top {
	0% {
		transform: translateY(-45px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		opacity: 1;
	}
	24% {
		opacity: 1;
	}
	40% {
		transform: translateY(-24px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	65% {
		transform: translateY(-12px);
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
	}
	25%,
	55%,
	75%,
	87% {
		transform: translateY(0px);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	100% {
		transform: translateY(0px);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
		opacity: 1;
	}
}

@keyframes show-list-of-services {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}

//Nagłówek strony
header {
	position: relative;
	height: 88vh;
	width: 100%;
	background-color: #b9b2b2;

	.header-bg {
		position: relative;
		width: 100%;
		height: 100%;

		.header-img {
			position: relative;
			width: 100%;
			height: 100%;
			background-color: #948f8f;
		}
	}
	.header-text {
		position: absolute;
		top: 50%;
		left: 25%;
		width: 50%;
		height: 50%;
		text-align: center;

		p {
			font-size: 1.5rem;
			color: #000;
		}

		.header-btn {
			margin-top: 15%;
			position: relative;
			padding: 10px 20px;
			background: none;
			border: 1px solid #fff;
			border-radius: 0;
			color: #ffffff;
			font-size: 1rem;
			text-transform: uppercase;
			overflow: visible;
			cursor: pointer;
			transition: 0.8s;
		}
		.header-btn::after,
		.header-btn::before {
			display: block;
			position: absolute;
			content: '';
			transition: all 0.5s;
			z-index: 10;
			width: 100%;
			height: 100%;
		}

		.header-btn::before {
			top: 0;
			left: 0;
		}

		.header-btn::after {
			bottom: 0;
			right: 0;
		}

		.header-btn:hover::after {
			bottom: -10px;
			right: -10px;
			border-bottom: 5px solid #003274;
			border-right: 5px solid #003274;
		}

		.header-btn:hover::before {
			top: -10px;
			left: -10px;
			border-top: 5px solid #ee2027;
			border-left: 5px solid #ee2027;
		}

		.header-btn:hover {
			border: 1px solid transparent;
		}
	}
}
//Nawigacja
nav {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	font-size: 2rem;
	height: 12vh;
	width: 100%;
	background-color: #ffffff;
	border-bottom: 3px solid #003274;
	z-index: 10;
	font-family: 'Goldman', sans-serif;
	.nav-brand {
		display: flex;
		position: relative;
		justify-content: center;
		height: 100%;
		width: 30%;
		font-size: 3rem;
		align-items: center;

		.logo-img {
			position: relative;
			height: 100%;
		}
	}
	.nav-options {
		display: flex;
		justify-content: space-evenly;
		position: relative;
		height: 100%;
		width: 70%;
		.nav-option {
			display: flex;
			position: relative;
			height: 100%;
			width: 100%;
			align-items: center;
			text-decoration: none;
			border: 1px solid transparent;
			border-radius: 20%;
			cursor: pointer;
			a {
				height: 100%;
				width: 100%;
				text-align: center;
				text-decoration: none;
				p {
					position: relative;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					color: #003274;
					transition: color 0.3s;
				}
			}
		}

		.nav-option:hover {
			a {
				p {
					color: #0061e0;
				}
			}
		}
		.services {
			display: flex;
			flex-direction: column;

			.list-of-services {
				position: absolute;
				top: 100%;
				display: block;
				list-style-type: none;

				.item-of-services {
					display: none;
					opacity: 0;
					position: relative;
					height: 100%;
					width: 100%;
					text-decoration: none;
					color: #fff;
					background-color: #ee2027;
					transition: 1s color;
					li {
						font-size: 1rem;
						border-bottom: 1px solid #000;
						padding: 5% 10%;
					}
				}
				.item-of-services:hover {
					color: #003274;
				}
			}
		}
		.services:hover {
			.list-of-services {
				.item-of-services {
					display: block;
					animation: services-animation 0.5s forwards;
				}
			}
		}
		.services:hover {
			.list-of-services {
				.item-of-services:nth-child(2) {
					animation-delay: 0.2s;
				}
			}
		}
		.services:hover {
			.list-of-services {
				.item-of-services:nth-child(3) {
					animation-delay: 0.4s;
				}
			}
		}
		.services:hover {
			.list-of-services {
				.item-of-services:nth-child(4) {
					animation-delay: 0.6s;
				}
			}
		}
		.services:hover {
			.list-of-services {
				.item-of-services:nth-child(5) {
					animation-delay: 0.8s;
				}
			}
		}
		.services:hover {
			.list-of-services {
				.item-of-services:nth-child(6) {
					animation-delay: 1s;
				}
			}
		}
	}
	.burger-btn {
		display: none;
	}
	.nav-options-onburger {
		display: flex;
		position: fixed;
		top: 0;
		left: 100%;
		width: 30%;
		height: 100vh;
		height: 100vh;
		padding: 100px 0px;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		transition: 0.5s;
		z-index: 1;
		border-left: 3px solid #000;
		.nav-option-on-burger-shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: #fff;
		}

		.close-btn {
			position: absolute;
			top: 50px;
			left: 50px;
			padding: 5px;
			border: none;
			background: none;
			cursor: pointer;
			color: #ee2027;

			.fa-xmark {
				font-size: 36px;
				transition: font-size 0.3s, transform 1s;
			}
		}
		.close-btn:hover {
			.fa-xmark {
				font-size: 44px;
				transform: rotateZ(360deg);
			}
		}
		.nav-option-onburger {
			text-transform: uppercase;
			text-decoration: none;
			color: #003274;
			font-size: 36px;
			transition: color 0.3s;
			z-index: 100;
		}
		.nav-option-onburger:hover {
			color: #0061e0;
		}
		.offer-option-burger {
			position: relative;
			width: 100%;
			text-align: center;
			.show-list-of-services-btn {
				position: absolute;
				height: 100%;
				width: 20%;
				left: 0;
				border: none;
				border-right: 3px solid #000;
				background-color: transparent;
				cursor: pointer;
				.fa-arrow-left {
					font-size: 2rem;
				}
				.arrow-rotate {
					transform: rotateZ(180deg);
				}
			}
			.list-of-services {
				display: block;
				position: absolute;
				width: 100%;
				left: 0%;
				font-size: 1rem;
				list-style-type: none;
				background-color: #ee2027;
				z-index: -1;
				transition: transform 1s;
				border-right: 3px solid #000;

				.item-of-services {
					position: relative;
					height: 100%;
					width: 100%;
					text-decoration: none;
					color: #fff;
					transition: 1s color;
					li {
						font-size: 1rem;
						border-bottom: 1px solid #000;
						padding: 5% 10%;
					}
				}
				.item-of-services:hover {
					color: #003274;
				}
			}
			.list-of-services-show {
				transform: translateX(-100%);
			}
		}
	}
}

//Główna treść strony
main {
	//ABOUT_US
	.section-about-us {
		position: relative;
		height: 100%;
		width: 100%;
	}
	.section-about-us-up {
		position: relative;
		width: 100%;
		height: 500px;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		.section-about-us-up-text {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			position: relative;
			width: 500px;
			height: 100%;
			font-size: 1.3rem;
		}
		.section-about-us-up-photo {
			position: relative;
			background-color: #b9b2b2;
			width: 500px;
			height: 100%;
		}
	}
	.section-about-us-middle {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		margin: 10% auto;
		.section-about-us-middle-header {
			position: relative;
			font-size: 2.5rem;
			margin-left: 10%;
			color: #003274;
		}
		.end {
			width: 75%;
			text-align: right;
			color: #003274;
		}
		.about-us-middle-arrow-up {
			margin-left: 40%;
			font-size: 2.5rem;
			animation: bounce-top 2s infinite both;
			color: #c00006;
		}

		.section-about-us-middle-characters {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			width: 100%;
			text-align: center;
			margin: 5% auto;
			.section-about-us-middle-character {
				margin: 5% auto;
				i {
					font-size: 2.5rem;
				}
				p {
					font-size: 1.5rem;
				}
			}
			.section-about-us-middle-character:nth-child(odd) {
				i {
					color: #003274;
				}
				p {
					color: #c00006;
				}
			}
			.section-about-us-middle-character:nth-child(even) {
				i {
					color: #c00006;
				}
				p {
					color: #003274;
				}
			}
		}
		.about-us-middle-arrow-down {
			margin-left: 60%;
			font-size: 2.5rem;
			animation: bounce-top 1.8s infinite both;
			color: #c00006;
		}
	}
	.section-about-us-down {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 500px;
		margin: 5% auto;
		margin-bottom: 15%;
		font-size: 4rem;
		color: #0061e0;
		span {
			font-size: 6rem;
		}
		.finished-projects {
			span {
				color: var(--numberOfProjectsColor);
			}
		}
		.happy-clients {
			span {
				color: var(--happyClientsColor);
			}
		}
		.years-of-experience {
			span {
				color: var(--yearsOfExperienceColor);
			}
		}
	}

	//SERVICES
	.services-header {
		position: relative;
		width: 100%;
		height: 40vh;
		background-color: #b9b2b2;
		display: flex;
		overflow: hidden;
		h1 {
			position: absolute;
			padding-left: 7%;
			padding-top: 7%;
			z-index: 3;
			color: #fff;
		}
		.services-header-left-imgs {
			display: flex;
			position: relative;
			width: 40%;
			height: 100%;
			.services-header-left-img-one {
				position: relative;
				width: 50%;
				height: 100%;
			}
			.services-header-left-imgs-two-three {
				position: relative;
				width: 50%;
				height: 100%;
				display: block;
				.services-header-left-img-two {
					position: relative;
					width: 100%;
					height: 50%;
				}
				.services-header-left-img-three {
					position: relative;
					width: 100%;
					height: 50%;
				}
			}
		}
		.services-header-right-imgs {
			position: relative;
			display: flex;
			width: 60%;
			height: 100%;
			.services-header-right-img-four {
				position: relative;
				width: 50%;
				height: 100%;
			}
			.services-header-right-imgs-five-six-seven {
				position: relative;
				width: 50%;
				height: 100%;
				display: block;
				.services-header-right-img-five {
					position: relative;
					width: 100%;
					height: 50%;
					overflow: hidden;
				}
				.services-header-right-imgs-six-seven {
					position: relative;
					width: 100%;
					height: 50%;
					display: flex;
					.services-header-right-img-six {
						position: relative;
						width: 50%;
						height: 100%;
					}
					.services-header-right-img-seven {
						position: relative;
						width: 50%;
						height: 100%;
					}
				}
			}
		}
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
		.services-header-shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: #003274;
			opacity: 0.8;
			z-index: 2;
		}
	}
	.services-nav {
		position: relative;
		width: 100%;
		height: 48vh;
		text-align: center;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		font-size: 2rem;
		margin-bottom: 10%;

		.services-nav-item {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			margin-top: 10%;
			transition: font-size 0.2s;
			text-decoration: none;
			cursor: pointer;
			i {
				position: absolute;
				margin-bottom: 5%;
				color: #003274;
			}
			p {
				position: absolute;
				color: #003274;
				transition: color 0.2s, fontweight 0.2s;
			}
		}
		.services-nav-item:hover {
			font-size: 2.2rem;
			p {
				color: #ee2027;
				font-weight: bold;
			}
		}
	}
	.tarpaulin-for-trucs {
		position: relative;
		display: flex;
		flex-direction: column;
		margin-bottom: 10%;
		.tarpaulin-for-trucs-down {
			position: relative;
			display: flex;
			flex-direction: row;
			height: 700px;
			.tarpaulin-for-trucs-left {
				width: 30%;
				position: relative;
				.truck-left-img {
					width: 100%;
					position: relative;
					margin-top: 20%;
					transform: rotate(90deg);
				}
			}
			.tarpaulin-for-trucs-middle {
				position: relative;
				width: 40%;
				text-align: center;
				font-size: 1.5rem;
				p {
					height: 70%;
				}
				.tarpaulin-for-trucs-middle-btns {
					position: relative;
					width: 100%;
					display: flex;
					flex-direction: row;
					justify-content: space-around;
					align-items: center;
				}
			}
			.tarpaulin-for-trucs-right {
				width: 30%;
				position: relative;
				.truck-right-img {
					width: 100%;
					margin-top: 20%;
					transform: rotate(-90deg);
				}
			}
		}
	}
	.tarpaulin-for-trailers {
		position: relative;
		height: 1200px;
		width: 100%;
		margin-bottom: 10%;
		background-color: #01224e;
		.section-title {
			h2 {
				color: #fff;
				padding-bottom: 0%;
			}
		}
		.tarpaulin-for-trailers-middle {
			position: relative;
			height: 80%;
			width: 100%;
			margin: 0% 15%;
			padding: 10% 10% 0%;
			width: 70%;
			background-image: url('../img/trailer-big.png');
			background-size: 100%;
			background-position: center;
			background-repeat: no-repeat;
			text-align: center;
			p {
				position: relative;
				font-size: 1.5rem;
			}
			.tarpaulin-for-trailers-middle-btns {
				position: relative;
				width: 100%;
				margin: 10% 2% 0%;
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				align-items: center;
			}
		}
	}
	.tarpaulin-for-bowers {
		.tarpaulin-for-bowers-middle {
			position: relative;
			width: 100%;
			margin-bottom: 10%;
			.bower-img {
				position: relative;
				width: 100%;
			}
			.tarpaulin-for-bowers-text {
				position: absolute;
				width: 30%;
				top: 70%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 1.5rem;
			}
			.services-nav-btn {
				position: absolute;
				top: 60%;
				left: 17%;
				transform: translate(-50%, -50%);
			}
			.gallery-btn {
				position: absolute;
				top: 60%;
				left: 83%;
				transform: translate(-50%, -50%);
			}
		}
	}
	.tarpaulin-repair {
		position: relative;
		.tarpaulin-repair-middle {
			position: relative;
			width: 100%;
			height: 100vh;
			.fa-wrench {
				position: absolute;
				top: -20%;
				left: -5%;
				font-size: 25rem;
				transform-origin: 80% 20%;
				animation: move-wrench 4s infinite;
				color: #ee20273b;
			}

			.fa-hammer {
				position: absolute;
				top: 0%;
				left: 75%;
				font-size: 30rem;
				animation: move-hammer 4s infinite;
				color: #ee20273b;
			}

			.fa-screwdriver {
				position: absolute;
				top: 30%;
				font-size: 40rem;
				transform: rotate(45deg);
				animation: move-screwdriver 3s infinite;
				color: #0032743b;
			}

			.tarpaulin-repair-text {
				position: absolute;
				width: 30%;
				top: 20%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 1.5rem;
			}
			.tarpaulin-repair-middle-btns {
				position: absolute;
				display: flex;
				justify-content: space-around;
				width: 30%;
				top: 55%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			.fa-solid {
				z-index: -1;
			}
		}
	}
	.tarpaulin-for-tents {
		position: relative;
		background-color: #01224e;
		.section-title {
			color: #fff;
		}
		.tent-hall-header {
			position: relative;
			width: 100%;
			.tent-hall-header-img {
				position: relative;
				width: 100%;
			}
			.tent-hall-text {
				position: absolute;
				top: 57%;
				left: 35%;
				transform: translate(-50%, -50%);
				width: 25%;
				color: #fff;
				font-size: 1.4rem;
			}
			.services-nav-btn {
				position: absolute;
				top: 55%;
				left: 66%;
				transform: translate(-50%, -50%);
				color: #006eff;
				border-color: #fff;
			}
			.gallery-btn {
				position: absolute;
				top: 55%;
				left: 81%;
				transform: translate(-50%, -50%);
				color: #ee2027;
				border-color: #fff;
			}
			.services-nav-btn:hover {
				color: #fff;
			}
			.gallery-btn:hover {
				background-color: #006eff;
				color: #fff;
			}
		}
	}
	.tarpaulin-individual-orders {
		position: relative;
		margin-bottom: 10%;
		.individual-orders-header {
			position: relative;
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			height: 700px;

			.checklist-big-red {
				position: absolute;
				width: 15%;
				left: 5%;
			}

			.individual-orders-middle {
				position: relative;
				width: 40%;
				margin-top: 5%;
				.individual-orders-middle-text {
					position: relative;
					width: 100%;
					font-size: 1.4rem;
					text-align: center;
				}
				.tarpaulin-for-indivisual-orders-middle-btns {
					position: relative;
					margin-top: 10%;
					display: flex;
					flex-direction: row;
					text-align: center;
					justify-content: space-around;
					.services-nav-btn {
					}
					.gallery-btn {
					}
				}
			}
			.to-do-big-blue {
				position: absolute;
				width: 20%;
				top: 10%;
				left: 80%;
			}
		}
	}

	//GALLERY
	.gallery-section {
		position: relative;
		.gallery-nav {
			position: relative;
			height: 88vh;
			width: 80%;
			margin: auto;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			.gallery-nav-item {
				position: relative;
				width: 70%;
				height: 70%;
				margin: auto;
				background-color: #5e5e5e;
				overflow: hidden;
				img {
					position: absolute;
					width: 100%;
					height: 100%;
					object-fit: cover;
					transition: height 0.5s;
					z-index: 1;
				}
				.gallery-nav-item-shadow {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: #640609;
					z-index: 2;
					opacity: 0.7;
				}
				.gallery-nav-item-text {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 90%;
					transform: translate(-50%, -50%);
					text-align: center;
					color: #fff;
					font-size: 1.5rem;
					z-index: 3;
					color: #f0f0f0;
					font-family: 'Goldman', sans-serif;
				}
			}

			.gallery-nav-item:hover {
				img {
					height: 130%;
				}
			}
		}
		.gallery-item-section {
			position: relative;
			margin: 10% auto;
			.gallery-item-slick {
				margin: 0 auto;
				position: relative;
				width: 50%;
				.slider-for {
					height: 600px;
					.slick-list {
						position: relative;
						height: 100%;
						.slick-track {
							position: relative;
							height: 100%;
							overflow: hidden;
							img {
								object-fit: contain;
							}
						}
					}
				}
				.slider-nav {
					margin-top: 10%;
					height: 200px;
					.slick-prev::before,
					.slick-next::before {
						color: #000000;
					}
					.slick-list {
						position: relative;
						height: 100%;
						.slick-track {
							position: relative;
							height: 100%;
							img {
								object-fit: cover;
								border: 5px solid #003274;
							}
						}
					}
				}
			}
			img {
				position: relative;
				height: 100%;
			}
		}
		.gallery-trailers-section {
			position: relative;
		}
	}
	//CONTACT
	.contact {
		position: relative;
		background-color: #ffffff;
		padding-bottom: 10%;
		z-index: 1;
		.section-heading {
			color: #302424;
		}
		.contact-form {
			position: relative;
			display: flex;
			justify-content: center;
			text-align: center;
			flex-direction: column;
			width: 100%;
			padding: 5%;
			margin-bottom: 10%;
			background-color: #001633;
			color: #ffffff;
			font-size: 1.5rem;
			h3 {
				font-size: 2.5rem;
				text-align: left;
				margin-bottom: 5%;
				color: #ffffff;
				font-family: 'Goldman', sans-serif;
			}
			.form-up {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				margin-bottom: 5%;
				.input-box {
					padding: 2% 0;
					text-align: left;
					margin: auto 5%;
					input {
						padding: 5px;
						font-size: 1rem;
						background-color: #ffffff;
					}
					.error-text {
						visibility: hidden;
						font-size: 13px;
						color: red;
					}
				}
				.input-box.error {
					input {
						border: 1px solid rgb(0, 137, 250);
						background-color: #bbb1b1;
					}
					.error-text {
						visibility: visible;
					}
				}
			}
			.form-down {
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 100%;
				label {
					width: 50%;
					text-align: left;
				}
				textarea {
					position: relative;
					width: 50%;
					max-width: 50%;
					min-width: 50%;
					margin-bottom: 1%;
					padding: 5px;
					font-size: 1rem;
					background-color: #ffffff;
				}
				.error-text {
					visibility: hidden;
					font-size: 13px;
					color: red;
				}
				.send-btn {
					// margin-top: 15%;
					position: relative;
					padding: 10px 20px;
					background: none;
					border: 1px solid #fff;
					border-radius: 0;
					color: #ffffff;
					font-size: 1rem;
					text-transform: uppercase;
					overflow: visible;
					cursor: pointer;
					transition: 0.8s;
				}
				.send-btn::after,
				.send-btn::before {
					display: block;
					position: absolute;
					content: '';
					transition: all 0.5s;
					z-index: 10;
					width: 100%;
					height: 100%;
				}

				.send-btn::before {
					top: 0;
					left: 0;
				}

				.send-btn::after {
					bottom: 0;
					right: 0;
				}

				.send-btn:hover::after {
					bottom: -10px;
					right: -10px;
					border-bottom: 5px solid #0061e0;
					border-right: 5px solid #0061e0;
				}

				.send-btn:hover::before {
					top: -10px;
					left: -10px;
					border-top: 5px solid #ee2027;
					border-left: 5px solid #ee2027;
				}

				.send-btn:hover {
					border: 1px solid transparent;
				}
			}
			.form-down.error {
				textarea {
					border: 1px solid rgb(0, 137, 250);
					background-color: #bbb1b1;
				}
				.error-text {
					visibility: visible;
				}
			}
			.msg-status {
				display: none;
				position: absolute;
				top: 35%;
				left: 50%;
				transform: translateX(-50%);
				flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 100px;
				width: 400px;
				font-size: 24px;
				border-radius: 8px;
				background-color: transparent;
			}
			.msg-succes {
				display: flex;
				color: rgb(18, 228, 18);
			}
			.msg-error {
				display: flex;
				color: rgb(235, 32, 32);
			}
		}

		.contact-details-map {
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			margin: 10% auto;

			.contact-details {
				position: relative;
				padding: 60px 20px;
				border: 15px solid#ee2027;
				color: #003274;
				transform: skewX(-30deg);
				h4 {
					position: relative;
					width: 100%;
					text-align: center;
					font-size: 2rem;
					transform: skewX(30deg);
				}
				.contact-detail {
					margin: 40px;
					font-size: 1.2rem;
					transform: skewX(30deg);
					span {
						font-weight: bold;
						color: #003274;
					}
					color: #003274;
				}
			}
		}
	}

	//STOPKA
	footer {
		position: relative;
		width: 100%;
		height: 500px;
		display: flex;
		flex-direction: column;
		background-color: #74070a;

		.footer-up {
			position: relative;
			height: 80%;
			width: 100%;
			display: flex;
			flex-direction: row;
			.footer-up-left {
				position: relative;
				width: 40%;
				height: 100%;
				display: flex;
				flex-direction: column;

				.footer-up-left-logo {
					position: relative;
					width: 100%;
					height: 70%;
					img {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 70%;
					}
				}
				.footer-up-left-media {
					position: relative;
					width: 100%;
					height: 30%;
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-around;
					color: #fff;
					font-size: 1.5rem;
					.fa-brands {
						font-size: 3rem;
						cursor: pointer;
						transition: color 0.5s;
					}
					.fa-brands:hover {
						color: #003274;
					}
				}
			}
			.footer-up-right {
				position: relative;
				width: 60%;
				height: 100%;
				display: flex;
				flex-direction: row;
				.footer-up-right-section {
					position: relative;
					width: 25%;
					height: 100%;
				}
				.footer-up-right-about-us {
					position: relative;
					padding: 3% 2%;
				}
				.footer-up-right-contact {
					position: relative;
					padding: 2% 2%;
				}
			}
		}
		.footer-down {
			position: relative;
			height: 20%;
			border-top: 1px solid #fff;
			.footer-down-text {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 1.5rem;
				color: #fff;
			}
		}
	}
}
@media (max-width: 995px) {
	.nav {
		position: relative;
		z-index: 100;

		.nav-options {
			display: none;
		}
		.burger-btn {
			display: flex;
			padding: 16px;
			position: absolute;
			right: 5%;
			border: 1px solid transparent;
			cursor: pointer;
			background-color: transparent;

			.burger-btn-box {
				position: relative;
				width: 40px;
				height: 40px;
				.burger-btn-bars,
				.burger-btn-bars::after,
				.burger-btn-bars::before {
					position: absolute;
					right: 0;
					height: 3px;
					content: '';
					background-color: #ee2027;
					transition: width 0.3s;
				}
				.burger-btn-bars {
					top: 27px;
					width: 100%;
				}
				.burger-btn-bars::after {
					top: -14px;
					width: 60%;
				}
				.burger-btn-bars::before {
					top: -27px;
					width: 30%;
					transition-delay: 0.1s;
				}
			}
		}
		.burger-btn:focus {
			outline: none;
			border: 1px solid rgba(255, 255, 255, 0.5);
			border-radius: 8px;
		}
		.burger-btn:hover {
			.burger-btn-bars::after,
			.burger-btn-bars::before {
				width: 100%;
			}
		}
	}
}
